<!DOCTYPE>
<html>
<head>
  <title>Log in</title>
</head>
<body>
  <h1> Please log in</h1>
 
    <form method="POST" action="/person/login" />
  <fieldset>
    <label>Email</label>
    <input type="text" name="email"/>
  </fieldset>

   <form method="POST" action="/person/login" />
  <fieldset>
    <label>Password</label>
    <input type="password" name="password"/>
  </fieldset>

  <button method="POST" action="/person/login"/> Submit </button>

   <h2>
  <a href='/person/new'> ...Or sign up </a>
  </h2>

</body>
</html>