<!DOCTYPE html>
<html>
<head>
  <title>Address Book</title>

  <%= stylesheet_link_tag :main %>

</head>
<body>
  <div class="heading_box search" >
  <h1>My Amazing Address Book</h1>
  <div id="underline"> </div>

  <%= flash[:notice] %>

   <nav>
    <ul>
      <li class="link"><%= link_to 'Add a Person', url_for(:person, :new) %></li>
    </ul>
  </nav>

  <%= yield %>
  </div>

</body>
</html>